.btn {
    padding: 0.5em 1.2em;
    border-radius: 0.3rem;
    cursor: pointer;
    background-color: #2f2f2f;
    color: #fff;
    box-shadow: 0 4px 12px 2px #565656;
    font-weight: 500;
}

.btn:active {
    transform: translateY(3px);
    box-shadow: 2px 2px 0 0 #565656;
}